{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page white-logo{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block hero %}
{% endblock %}

{% block background %}
  {{ aposSingleton({slug: slug + ":homethumbnail", area: page.areas.homebackground, edit:edit, type: 'slideshow' }) }}
{% endblock %}

{% block mainContent %}
  <div class="block hero hero-home">
    <div class="inner">
      {{ aposSingleton({ slug: slug + ':homefeatured', area: page.areas.homefeatured, edit:edit, type: 'blog', homepage: true }) }}
    </div>
  </div>

  <div class="block home-content">
      <div class="inner">
         {{ aposSingleton({ slug: slug + ':homeStream', area: page.areas.homeStream, edit:edit, type: 'blog', homepage: false, homestream: true  }) }}
      </div>
  </div>

{% endblock %}
